/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 23, 2019, 3:19:12 PM
    Author     : HUONG XINH GAI
*/
body{
    margin: 0;
    padding: 0;
}
#container{
    width: 350px;
    height: 250px;
    background-color: #fff;
    margin: 0 auto;
    border: 2px solid #d3d3d3;
    font-weight: bold;
    padding: 5px;
}
.btn{
    width: 50px;
}