/NewProject/nbproject/private/
/BaiTapSlide7/nbproject/private/
/NhapXuat/nbproject/private/
/NhapXuat/build/
/Exceptions/nbproject/private/
/Exceptions/build/
/Buoi7/nbproject/private/
/Buoi8/nbproject/private/
/Buoi8/build/
/Buoi9/nbproject/private/
/BaiTapSlide7/build/
/Buoi11/nbproject/private/
/Buoi11/build/
/DaGiac/nbproject/private/
/Buoi12/nbproject/private/
/Buoi13/nbproject/private/
/Buoi13/build/
/buoi14/nbproject/private/
/buoi14/build/
/Buoi15/nbproject/private/
/Buoi15/build/
/Buoi16/nbproject/private/
/Buoi16/build/
/Buoi17/nbproject/private/
/Buoi18/nbproject/private/
/Buoi18/build/
/Buoi18_demo/nbproject/private/
/Buoi19/nbproject/private/
/Buoi19/build/
/Buoi20/nbproject/private/
/Buoi20_Student/nbproject/private/
/Bai20_Check/nbproject/private/
/TH3_KTLT/nbproject/private/
/TH3_KTLT/build/
/Demo/nbproject/private/
/Demo/build/
/Buoi22/nbproject/private/
/Buoi22/build/
/TH4_KTLT/nbproject/private/
/TH4_KTLT/build/
/Buoi23/nbproject/private/
/Buoi23/build/